# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET=

NODE_ENV=

# SQL Server
# Local development
DATABASE=bigstack
USERNAME=root
PASSWORD=rootpass
HOST=localhost
DIALECT=mysql

# Port
PORT=3000

# Debug
LOG_LEVEL='debug'

#SENTRY
RAVEN=